.footer-one {
  background-color: #4e4e4e;
  width: 100%;
  font-weight: 700;
  font-size: 18px;
}

.footer-one-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 25px 0;
  width: 960px;
}

.icons * {
  padding: 10px;
  font-size: 30px;
}
